<!-- colocar infos profissionais, linked in, github nome email etc -->
 <div id="footer">
    <p>Made by <span>André Nassif Vieira</span> | <span>andrenassifv@hotmail.com</span></p>
    <div style="display: flex; gap: 0.5rem;">
        <a id="linkedin-btn" href="https://www.linkedin.com/in/andrenassif/" target="_blank">
            <img id="linkedin-img" src="/images/linkedin-off.png" alt="LinkedIn icon">
        </a>
        <a id="github-btn" href="https://github.com/Dedesh" target="_blank">
            <img id="github-img" src="/images/github-off.png" alt="LinkedIn icon">
        </a>
        <a id="instagram-btn" href="https://www.instagram.com/andrenassifv/" target="_blank">
            <img id="instagram-img" src="/images/instagram-off.png" alt="LinkedIn icon">
        </a>
    </div>
 </div>