<div id="header-placement">
    <div id="header-container">

        <a href="/">
            <img id="logo" src="/images/filmlog-logo.png" alt="FilmLog logo">
        </a>

        <div class="nav-links">
            <% if (!user) { %>

                <button type="button" id="open-log-in-btn">LOG IN</button>

                <button type="button" id="open-register-btn">CREATE ACCOUNT</button>

            <% } else { %>

                <div class="dropdown-container">

                    <button type="button" class="dropdown-menu-topic"><%= user.username.toUpperCase() %></button>

                    <div class="dropdown-menu">
                        <hr>
                        <form id="log-out-form">
                            <button type="submit">Log Out</button>
                        </form>
                    </div>

                </div>

                <form action="/users/<%= user.id %>/watched" method="GET">
                    <button type="submit">LOGS</button>
                </form>

                <form action="/users/<%= user.id %>/watchlist" method="GET">
                    <button type="submit">WATCHLIST</button>
                </form>

                <!-- <button>
                    ACTORS
                </button>

                <button>
                    FRIENDS
                </button> -->

            <% } %>
        </div>

        <form id="search-bar">

            <input type="text" name="searchText" required pattern=".*\S.*" placeholder="FIND A FILM"
                <% if (locals.searchText) { %>
                    value="<%= searchText %>">
                <% } else { %>
                    >
                <% } %>

            <button type="submit">
                <img src="/images/search.png" alt="Search icon">
            </button>

        </form>

    </div>
</div>

<!-- Creates the hidden pop-ups to register and log in if the user is not logged in -->
<% if (!user) { %>

    <div id="log-in-pop-up" class="pop-up-centralizer hidden">
        <div class="pop-up">
            
            <div class="title-and-close-btn">
                <p class="title">LOG IN TO FILMLOG</p>
                <img id="close-log-in-btn" class="close-btn" src="/images/close.png" alt="Close button">
            </div>

            <form id="log-in-form">
                <div>
                    <label for="email">Email address</label>
                    <input type="text" name="email" id="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <p id="log-in-error" class="pop-up-error hidden"></p>
                <input id="log-in-submit-btn" type="submit" value="LOG IN">
            </form>
            
        </div>
    </div>

    <div id="register-pop-up" class="pop-up-centralizer hidden">
        <div class="pop-up">
            
            <div class="title-and-close-btn">
                <p class="title">JOIN FILMLOG</p>
                <img id="close-register-btn" class="close-btn" src="/images/close.png" alt="Close button">
            </div>

            <form id="register-form">
                <div>
                    <label for="email">Email address</label>
                    <input type="text" name="email" id="email" required>
                </div>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <p id="register-error" class="pop-up-error hidden"></p>
                <input id="register-submit-btn" type="submit" value="SIGN UP">
            </form>
            
        </div>
    </div>

<% } %>

<script src="/js/header.js" type="module"></script>